@charset "UTF-8";
/* CSS Document */
body{
	background-color: white;
}
a{
	text-decoration: none;
	color:white;
}
a :visited{
	
}
a :active{
	color:black;
}
li{
	list-style: none;
	list-style-type: none;
}

#main_background{
	width:100%;
	height:750px;
	background-color:black;
}
.main_box{
	display:flex;
	padding-left: -40px;
}

.main_box li{
	width:210px;
	margin:0px auto 0px auto;
	height:750px;
	background-color: none;
	opacity: 0;
	overflow:hidden;
}

.main_box li img{

}


#top{
	height:750px;
	background-color:white;
	width:270px;
	position:absolute;
	left:10;
	opacity:0;
	z-index:1;
}
#port_box{
	width:230px;
	margin: 80px auto 0px 60px;
}

#top_menu{
	height:750px;
	background-color:darkgray;
	width:100%;
	position:absolute;
	right:10;
	opacity:0;
	z-index:0;
	overflow: hidden;
	display: flex;
}
.blank_top{
	width:270px;
}
.top-box{
	margin:0px auto 0 auto;
	width:700px;
	opacity: 0;
	background-color: none;
}
.top-message{
	font-size: 70px;
	margin: 80px auto 0 auto;
	width:600px;
	background-color:rgba(99,161,156,0.80);
	text-align: center;
	color:white;
	
}
.top-myInfo{
	display: flex;
	margin:180px 0 0 100px;
}
.study-box-all{
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
	padding:10px 10px 20px 10px;
}
.title-study{
	margin:0px 0px 10px 20px;
	font-size:19px;
}
.study-box1{
	display: flex;
	margin-bottom:20px;
}
.study-box2{
	display:flex;
}
.study-icon{
	margin:5px 10px 0px 5px;
	
}
.study-detail{
	
}
.study-title{
	
}
.study-detail-info{
	width:370px;
	word-wrap: normal;
	word-break: break-all;
	font-size:14px;
}

/* sns */
.sns-box{
	margin:100px 0 0 35px;
}
.sns-con{
	width:32px;
	height:32px;
	border:solid 0.5px none;
	background-color:none;
}
.sns-con1{
	width:32px;
	height:32px;
	border:solid 1px gray;
}
.main_mes{
	width:100%;
	height: 100px;
	background-color:none;
	color:black;
	position:absolute;
	margin-top:300px;
	z-index: 1;
}

.main_mes p{
	font-size:50px;
	text-align: center;
	margin:15px 0px 0px 0px;
	font-family: 'Biryani', sans-serif;
	
}

.hide_box1{
	background-color: white;
	width:100%;
	overflow: hidden;
	position:absolute;
	right:-100%;
	height: 375px;
	z-index:0; 

}
.hide_box2{
	background-color: white;
	width:100%;
	overflow: hidden;
	position:absolute;
	left:-100%;
	height: 375px;
	margin-top:375px;
	z-index:0;

}
.hide_box3{
	background-color: white;
	width:50%;
	overflow: hidden;
	position:absolute;
	left:-100%;
	height: 750px;
	z-index:0; 
}
.hide_box4{
	background-color: white;
	width:50%;
	overflow: hidden;
	position:absolute;
	left:-100%;
	height: 750px;
	margin-top:0;
	z-index:0;
	
}


.short_prof{
	width:250px;
	height:370px;
	padding-left:0px;
	margin-top:15px;
	background-color:white;
	position:relative;
	color:dimgray;
	opacity: 0;
}

.prof_list{
	margin-left:0px;
	font-size:13px;
	font-family: 'Raleway', sans-serif;
}
.prof_list li{
	margin:9px 0px 0px 0px 
}

.build_tree{
	font-family:noto sans "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
 	position: relative;
  background: white;
  margin-top: 0px;
  padding: 2px 0px 0px 14px;
  font-size: .85rem;
  font-weight: 400;
  line-height: 1.3;
  color: #212529;
}
.build_tree ul {
  padding-left:17px;
  list-style: none;
	color:gray;
}
.build_tree li{
	color:gray;
}
.build_tree ul li{
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  box-sizing: border-box;
}
.build_tree ul li:before{
	position: absolute;
  top: 11px;
  left: 0;
  width: 10px;
  height: 1px;
  margin: auto;
  content: '';
  background-color: #666;
}
.build_tree ul li:after{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 11px;
  content: '';
  background-color: #666;
}
.build_treeul li:last-child:after {
  height: 0px;
}
.work{
	font-size:13px;
	font-family: 'Raleway', sans-serif;
}
.work_a{
	margin:3px 0px 0px 15px;
}
.skill{
	font-size:13px;
	font-family: 'Raleway', sans-serif;
}
.skill_a{
	margin:3px 0px 0px 10px;
}
.mail{
	font-size:13px;
	font-family: 'Raleway', sans-serif;
}
.mail_a{
	margin:3px 0px 0px 10px;
}
.space{
	height: 3000px;
	background-color: cadetblue;
	
}

/* error check

.check_menu{
	z-index: 2;
	height: 750px;
	width:270px;
	background-color: white;
	border: solid black 1px;
}
.check_top{
	width: 100%;
	height: 750px;
	background-color: lightseagreen;
	display: flex;
}
.c_top_menu{
	width:270px;
	height: 750px;
}
.c_box_work{
	background-color:yellowgreen;
	width:100px;
	height:100px;
}
*/

#main_all{
	width:100%;
	display: flex;
	background-color:whitesmoke;
}
/**************** Nav ************************/
#nav{
	width:270px;
	background-color: gray;
}
#nav_box{
	width:200px;
	display: flex;
	margin:0px auto;
}
#nav_scroll{
	margin: 10px 0 0 0;
	background-color:none;
	width:30px;
	height:90px;
}
#arrow_box{
	background-color:none;
	width:15px;
	height:90px;
	border-right: 2px solid black;
	
}
#arrow{
	possition:relative;
	margin-top:-38px;
	border-bottom:solid 2px black;
	width:30px;
	height:30px;
	transform: rotate(45deg);
}
#nav_top{
	opacity:0;
	margin: 40px 0 0 0;
	position: absolute;
	z-index:2;
	background-color:none;
	width:30px;
	height:90px;
}
#arrow_box_top{
	background-color:none;
	width:15px;
	height:100px;
	border-right: 2px solid black;
}
#arrow_top{
	margin-top:-93px;
	border-left:solid 2px black;
	width:30px;
	height:30px;
	transform: rotate(45deg);
}
.active{
	color:red;
}
#scroll_box{
	width:40px;
	height:100px;
	margin:10px 0 0 10px;
}
#nav_list_box{
	width:100px;
	color:whitesmoke;
}
#nav_list{
	background-color:none;
}
.nav_content{
	font-size:19px;
	margin:10px 0 0 0 ;
}
.nav_content2{
	font-size:19px;
	margin:10px 0 0 0 ;
}
.nav_content3{
	font-size:19px;
	margin:10px 0 0 0 ;
}
/**** content boxes*****/
#content{
	margin:0 auto;
	background-color:none;
	color:black;
}

/*** box ***/
#box_skill{
	height:900px;
	background-color:none;
	margin: 0 auto;
	
}
#box_profile{
	height:600px;
	margin:0 auto 0 auto;
	background-color:none;
}
#box_contact{
	height:600px;
	background-color:royalblue;
}

/***************** Skill *********************/

.display_skill{
	background-color:none;
	display:flex;
	margin:0 auto 0 auto;
}
.skill_box_1{
	width:350px;
	margin:20px auto 0 auto;	
}
.skill_box_2{
	width:350px;
	margin:20px auto 0 0;	
}
.skill_detail{
	margin:30px auto 0 0;
	width:290px;
	height: 130px;
	display:flex;
	background-color:none;					/* check */
}
.skill_icon{
	width:64px;
	height:64px;
	margin:auto;
	background-color:none;
}
.skill_content{
	width:220px;
	height:100px;
	color:black;
	margin-left:10px;
}
/**** skill bar ****/
.skill_name{
	width:100%;
}
.skill_bar_box{
	width:100%;
	height:15px;
	background-color:gray;
	border:solid 1px none;
	margin:5px 0 0 0;
}
/*bar1*/
.skill_bar1{
	width:0;
	background-color:darkturquoise;
	height: 15px;
}
.skill_bar_num1{
	color:black;
	font-size:11px;
	width:0;
}
.per1{
	font-size:11px;
}

/* bar 2*/
.skill_bar2{
	width:0;
	background-color:greenyellow;
	height: 15px;
}
.skill_bar_num2{
	color:black;
	font-size:11px;
	width:0;
}
.per2{
	font-size:11px;
}

/* bar3 */
.skill_bar3{
	width:0;
	background-color:palegreen;
	height: 15px;
}
.skill_bar_num3{
	color:black;
	font-size:11px;
	width:0;
}
.per3{
	font-size:11px;
}

/* bar4 */
.skill_bar4{
	width:0;
	background-color:lightgreen;
	height: 15px;
}
.skill_bar_num4{
	color:black;
	font-size:11px;
	width:0;
}
.per4{
	font-size:11px;
}

/* bar5 */
.skill_bar5{
	width:0;
	background-color:yellowgreen;
	height: 15px;
}
.skill_bar_num5{
	color:black;
	font-size:11px;
	width:0;
}
.per5{
	font-size:11px;
}

.skill_info{
	width:100%;
	font-size:13px;
}

/******************Work photo*********************/
.smoke1{
	opacity: 0;
	z-index: -3;
	background-color: rgba(0,0,0,0.80);
	width: 100%;
	position:fixed;
	top:0;
	height:1000px;
}
.smoke2{
	opacity: 0;
	z-index: -3;
	background-color: rgba(0,0,0,0.80);
	width: 100%;
	position:fixed;
	top:0;
	height:1000px;
}
.work_push_box{
	width:600px;
	height:600px;
	background-color:black;
	overflow: auto;
}
.close_box{
	height:30px;
	width:100%;
	background-color: indianred;
}
.work_push_main{
	margin: auto;
}
.size1{
	width:200px;
	height: 550px;
	margin: 10px auto 10px auto;
	overflow: hidden;
}
.blank-box{
	width:300px;
	height: 225px;
}
.size2{
	width:300px;
	height:225px;
	margin: 10px auto 10px auto;
	overflow: hidden;
}
.size3{
	width:400px;
	height:586px;
	margin: 10px auto 10px auto;
	overflow: hidden;
}
.size4{
	width:400px;
	height:371px;
	margin: 10px auto 10px auto;
	overflow: hidden;
}
.work_push1{
	background-color: black;
	display: flex;
}
.work_push1 img{
	margin:10px;
}
.work_push2{
	background-color: black;
	display: flex;
}
.work_push2 img{
	margin:10px auto auto auto;
}
.margin-btn{
	margin:5px 0 0 100px;
}
/************check ***********/
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}


/******* work contents********/
.work_box_content{
	
	height: 2000px;
	background-color:none;
	margin:200px auto 0 auto;
}
.work_info{
	width:700px;
	margin:50px auto 0px auto;
	display: flex;
	background-color:darkgray;
	border-radius: 10px;
}
.work_box_photo{
	background-color:none;
	margin :5px auto 0 auto;
	
}
.work_photo{
	
}
.work_photo2{
	background-color:none;
	margin :85px auto 0 10px;
	
}
.margin1{
	margin-top:100
}
.work_detail{
	width:400px;
	height:400px;
	background-color:none;
	border-radius: 50px;
}
.work_detail_box{
	width:330px;
	height:380px;
	background-color: none;
	margin:30px auto 0 auto;
	
}
.w_d_title{
	margin:10px 0 0 5px;
	color:black;
	font-size:18px;
}
.w_d_date{
	margin:12px 0 0 5px;
	color:black;
}
.w_d_skill_box{
	display:flex;
}
.w_d_skill_title{
	margin-top:12px;
	margin-left:5px;
	width:95px;
	color:black;
}
.work_skill_info_box{
	width:280px;
	margin:7px 0 0 0;
}
.work_skill_info{
	float:left;
	border-radius: 10px;
	border:solid 2px white;
	background-color: palegreen;
	color:black;
	height:16px;
	padding:2px 5px;
	width:auto;
	font-size:12px;
	margin:6px 0px 0px 6px;
}
.w_d_info{
	width:280px;
	margin:12px 0px 0px 5px;
	color:black;
	width:330px;
}
.w_d_info_title{
	margin:5px 0 0 5px;
}
.w_d_info_content{
	width:330px;
	margin :0px 0 0 20px;
	width:280px;
	word-wrap: normal;
	word-break: break-all;
}
.w_d_link{
	color:black;
	font-size:14px;
	float:right;
	margin:0 20px 0 0;
}

/******************* Profile ******************/
.box_profile{
	display: flex;
	margin-bottom: 300px;
}
/**** ****/
#profile_mine{
	width:300px;
	background-color:none;
}
#profile_photo{
	margin:10px auto 10px auto;
	border-radius: 10px;
	width: 255px;
	height: 255px;
}
#profile_photo img{
	border: solid black 1px;
	border-radius: 10px;
}
#profile_me{
	width:250px;
	color:dimgray;
}
#profile_me ul{

}

#p_name{
	text-align: center;
	margin-top: 3px;
	font-size:20px;
}
#p_job{
	text-align: center;
	margin-top: 3px;
	font-size:13px;
}
#p_school{
	text-align: center;
	margin-top: 3px;
	font-size:14px;
}
#p_mail{
	text-align: center;
	margin-top: 3px;
	font-size:14px;
}
#profile_detail{

}
.profile_mes{
	width:100%;
	margin:0 0 10px 0;
}
.profile_title{
	border-bottom: solid 2px black;
	
}
.profile_mes_con{
	width:400px;
	margin:7px 0 0 0 ;
	color:gray;
	word-wrap: normal;
	word-break: break-all;
}
.profile_info_con{
	color:dimgray;
}
.info_year{
	margin:5px 0 0 5px;
	font-size: 15px;
}
.info_school{
	font-size:15px;
	margin: 0 0 0 15px;
}

/******************* footer ******************/
#footer_box{
	width:100%;
	height:50px;
	background-color: darkslategray;
}


.box{
	font-size:25px;
	background-color: white;
	width:270px;
	height:40px;
	border:solid 1px black;
}



































